@keyframes wiggle {
  0% {
    transform: skew(0, 0);
  }

  33% {
    transform: skew(1deg, 2deg);
  }

  66% {
    transform: skew(-3deg, 4deg);
  }
}

.h-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.h-text-right {
  text-align: right;
}

.h-wiggle {
  animation: wiggle 600ms step-end infinite;
}

.h-height-vh {
  min-height: 100vh;
}

.h-flex {
  display: flex;
}

.h-flex-col {
  flex-direction: column;
}

.h-items-center {
  align-items: center;
}

.h-justify-end {
  justify-content: right;
}

$sizes: [0, 1, 2, 4, 8];
$spacing: 4px;

@for $i from 1 through length($sizes) {
  $size: nth($sizes, $i);
  $spacingType: [margin, padding];

  @each $type in $spacingType {
    $name: p;

    @if $type == margin {
      $name: m
    }

    .#{$name}t-#{$size} {
      #{$type}-top: $spacing * $size;
    }

    .#{$name}b-#{$size} {
      #{$type}-bottom: $spacing * $size;
    }

    .#{$name}l-#{$size} {
      #{$type}-left: $spacing * $size;
    }

    .#{$name}r-#{$size} {
      #{$type}-right: $spacing * $size;
    }

    .#{$name}x-#{$size} {
      #{$type}: 0 ($spacing * $size);
    }

    .#{$name}y-#{$size} {
      #{$type}: ($spacing * $size) 0;
    }

    .#{$name}-#{$size} {
      #{$type}: $spacing * $size;
    }
  }
}