*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: $color-text;
  background: $color-background;
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;

  &:before {
    content: '';
    position: fixed;
    z-index: -1;
    width: 500px;
    height: 500px;
    background: $color-background-light;
    border-radius: 100%;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
  }
}
