@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

h1,
.h1 {
  font-family: $font-family-display;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  text-transform: uppercase;
}

h2,
.h2 {
  font-family: $font-family-display;
  font-size: $font-size-h2;
  line-height: $line-height-h2;
}

a {
  text-decoration: none;
  color: $color-link;
  transition: 0.4s;
  padding: 3px;

  &:hover {
    color: $color-background;
    background: $color-brand-01;
  }
}

mark {
  background: none;
  color: $color-link;
}

.text-large {
  font-size: $font-size-large;
  line-height: $line-height-large;
}

.text {
  * + p,
  * + h1,
  * + h2,
  * + h3,
  * + h4 {
    margin-top: 1em;
  }
}