$color-text: #23001e;
$color-text-weak: #454545;

$color-brand-01: #cc456a;
$color-brand-02: #20a39e;

$color-background: #e9dca8;

/* TYPOGRAPHY */

$font-size-h1: 54px;
$line-height-h1: 64px;

$font-size-h2: 36px;
$line-height-h2: 42px;

$font-size-base: 12px;
$line-height-base: 14px;

$font-family-display: 'Concert One';
$font-family-base: 'Roboto';