$color-text: #23001e;
$color-text-weak: #454545;
$color-link: #cc456a;

$color-brand-01: #cc456a;
$color-brand-02: #ff82a3;

$color-background: #e9dca8;
$color-background-light: #efe0af;

/* TYPOGRAPHY */

$font-size-h1: 54px;
$line-height-h1: 64px;

$font-size-h2: 36px;
$line-height-h2: 42px;

$font-size-base: 16px;
$line-height-base: 24px;

$font-size-large: 24px;
$line-height-large: 32px;

$font-family-display: 'Concert One';
$font-family-base: 'Roboto';

$breakpoints: (
  tiny:  500px,
  small:  900px,
  medium: 1000px,
  large:  1200px
) !default;